.Nav-Buttons{
    padding-top: 1vmax;
    display: flex;
    flex-direction: row;
}


.Nav-Buttons .Button{
    padding: 2.5vmax;
    margin-left: 1vmax;
    border: 2px solid white;
    border-radius: 10px;
}

.Button:hover{
    background-color: #46024d;
}